@charset "utf-8";
/* ===========================================================【reset】======================================================================= */
body,p,ul,li,ol,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,iframe,span,input,textarea,select,button,div,b,i,table,td,tr,th{font-family: Arial,"微软雅黑";font-size:13px;margin:0;padding:0;}
body{background:#f1f3fa;}
ul,ol,li{list-style:none;}
img{border: none;}
a {outline: none;text-decoration:none;color:#006cd1;}
:focus { outline:0; }
.e-hide{display:none;}
.e-block{display:block;}
.e-noborder{border:none 0;}
.txt-r{text-align:right;}
.txt-c{text-align:center;}
.clrfix:after{content:"";display:block;height:0;line-height:0;font-size:0;clear:both;visibility: hidden;}

/* ========================================================【inner modular】=================================================================== */
/* 【内页】chart */
.container{float:left;width:94%;padding:0 3% 10px;}
.chartzone{float:left;width:100%;padding:10px 0 80px;}
h2.title-theme1{text-align:center;padding:15px 0;}
h2.title-theme1 span{background:#f8f8f8;color:#000;font-size:24px;font-weight:normal;}
h3.title-theme2{background:#4b9c3d;color:#fff;font-size:16px;font-weight:normal;padding:5px;margin-bottom:10px;}
.chart-items{float:left;width:100%;padding-top:15px;}
.chart{clear:both;height: 400px;width:100%;margin-bottom:10px;}
.column_people,.spline_people_M,.column_salesAdviser{margin-bottom:40px;}
.cols{float:left;width:45%;margin-bottom:20px;}
.cols-fr{float:right;}
.ht1 .chart{height:220px;}
.mR1{margin-right:5%;}
.chart_des{color:#1caf9a;font-size:14px;font-weight: bold;margin-bottom:10px;width:100%;}
.small{font-size:12px;font-weight:normal;}
.icon-sign{float:left;height:18px;width:18px;background:url(../images/icon2.png) -200px -50px no-repeat;margin-right:7px;}
.tablezone{float:left;width:100%;padding-bottom:80px;}
.title1{float:left;font-size:15px;padding:0px 0 5px;width:100%;}
.table{float:left;width:100%;color:#040404;border-collapse:collapse;margin:10px 0;}
.table tr{line-height:37px;text-align:center;border-bottom:1px solid #e4e4e4;}
.table th{background:#d7d8d8;border:1px solid #e4e4e4;}
.table td{background:#fff;border-right:1px solid #e4e4e4;}
td.nonebd{border-right:none 0;}
.table tr.active td{background:#f1f2f2;}
.radio-list{height:44px;line-height:44px;width:100%;}
.radio-list li{float:left;}

.table-fixed{width:15%;min-width:200px;position:absolute;right:0;top:0;}
/*日期过滤查询*/
.filter{float:left;width:100%;margin-bottom:20px;}
.filter-fr{float:right;width:302px;position:relative;bottom:-27px;}
.filter-isadmin{width:888px;}
.opento-admin{display:none;}
.filter-isadmin .opento-admin{display:block;float:left;padding-right:10px;}
.filter-isadmin .opento-admin label{float:left;line-height:35px;font-weight:bold;}
.set_date{float:right;}
.dateTo{float: left;line-height:36px;padding:0 5px;}
input.txt_date{float:left;width:200px;padding:10px 26px 10px 9px;border:1px solid #e7e7e7;border-radius:5px;background:#f6f6f6;font-weight:bold;}
/* radioBox */
.radio{float:left;width:18px;height:18px;background:url(../images/icon2.png) -150px -50px no-repeat;cursor:pointer;margin-top:10px;}
.radio_hover{background-position:-200px 0;}
.radio_checked{background-position:-150px 0;}
.radioLabel{float:left;color:#4f4f4f;padding:0 20px 0 5px;cursor:pointer;font-weight:bold;}
.radioLabel:hover,.radioLabel_hover{color:#e34628;}
.btn-normal{float:left;text-align:center;color:#fff;background:#e34628;border:1px solid #e9887a;padding:9px 15px;border-radius:5px;letter-spacing:1px;margin-left:7px;font-weight:bold;cursor:pointer;} /*普通按钮*/
/* comboBox/select */
.comboWrap{float:left;position:relative;z-index:102;margin-right:10px;}/*[下拉插件]-灰色箭头下拉*/
.combo{float:left;width:70px;padding:10px 26px 10px 9px;border:1px solid #e7e7e7;border-radius:5px;background:#f6f6f6;cursor:pointer;}
.combo2{width:150px;}
.comboArrow{position:absolute;z-index:10;right:10px;top:15px;display:inline-block;height:8px;width:15px;background:url(../images/icon2.png) -58px -159px no-repeat;cursor:pointer;}
.comboUl{display:none;position:absolute;z-index:1000;left:0;top:35px;width:105px;border:1px solid #dfdfdf;max-height:160px;overflow-y:auto;}
.comboUl li{height:32px;line-height:32px;border-bottom:1px solid #dfdfdf;color:#666;background:#fff;text-align:left;padding-left:9px;font-size:12px;}
li.comboLi_hover{background:#f1f2f2;color:#333;cursor:pointer;}

.combo2Wrap{float:left;position:relative;z-index:102;margin-right:10px;}/*[下拉插件]-灰色箭头下拉*/
.combo2{float:left;width:330px;padding:10px 31px 10px 9px;border:1px solid #e7e7e7;border-radius:5px;background:#f6f6f6;cursor:pointer;}
.combo2Wrap .comboUl{width:370px;}
.comboUl li{height:32px;line-height:32px;border-bottom:1px solid #dfdfdf;color:#666;background:#fff;text-align:left;padding-left:9px;font-size:12px;overflow:hidden;}
li.comboLi_hover{background:#f1f2f2;color:#333;cursor:pointer;}




