<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>经销商修改</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/bootstrap-validation/bootstrap3-validation.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.cookie.js"></script>
</head>

<body>
<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="exampleModalLabel">经销商修改</h4>
</div>

<div class="modal-body" style=" overflow:auto;">
    <form id="form1" role="form"  class="form-horizontal" >
        <div class="form-group">
            <label class="col-sm-3 control-label">经销商代码：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " check-type="required"  name="dealerno"  maxlength="20"   />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经销商名称：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " check-type="required"  name="dealername"    />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经销商简称：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "   name="pcname"    />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">品牌：</label>
            <div class="col-xs-8">
                <select id="brand" name="brand" style="width:140px;" class="form-control " check-type="required">
                    <option th:each="map,userStat:${brand}" th:value="${map.brand}" th:text="${map.brand}" ></option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">省份：</label>
            <div class="col-xs-8">
                <select id="province" name="province" style="width:200px;" class="form-control " >
                    <option  selected="selected"  code="" value="" >请选择</option>
                    <option th:each="map,userStat:${province}" th:value="${map.name}" th:text="${map.name}"  th:attr="code=${map.code}"></option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">城市：</label>
            <div class="col-xs-8">
                <select id="city" name="city" style="width:200px;" class="form-control " dft="" >
                    <option  selected="selected"  code="" value="" >请选择</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">大区：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "   name="zone" maxlength="25"    />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="address" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电话：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="tel" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="email" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所属集团：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="groupname" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系人：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="linkman" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系人电话：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="linkmantel" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">发票抬头：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="invoiceheading" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开户行：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="bank" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">发票地址：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="invoiceaddress" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">银行账号：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="bankacount" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">发票电话：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="invoicetel" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">税号：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "    name="vatno" maxlength="50" />
            </div>
        </div>
        <div class="form-group" th:if="${domainenter}==1">
            <label class="col-sm-3 control-label">是否销售钥匙产品：</label>
            <div class="col-xs-8">
                <select id="issellkey" name="issellkey" style="width:140px;" class="form-control ">
                    <option value="0" selected='selected'>否</option>
                    <option value="1"  >是</option>
                </select>
            </div>
        </div>
        <div class="form-group" th:if="${domainenter}==1">
            <label class="col-sm-3 control-label">是否销售轮胎产品：</label>
            <div class="col-xs-8">
                <select id="isselltire" name="isselltire" style="width:140px;" class="form-control ">
                    <option value="0" selected='selected'>否</option>
                    <option value="1"  >是</option>
                </select>
            </div>
        </div>
        <div class="form-group" th:if="${domainenter}==1">
            <label class="col-sm-3 control-label">是否允许不传轮胎图片：</label>
            <div class="col-xs-8">
                <select id="notirepic" name="notirepic" style="width:140px;" class="form-control ">
                    <option value="0" selected='selected'>否</option>
                    <option value="1"  >是</option>
                </select>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">是否电子发票：</label>-->
<!--            <div class="col-xs-8">-->
<!--                <select id="is_elec_invoice" name="is_elec_invoice" style="width:140px;" class="form-control ">-->
<!--                    <option value="0" selected='selected' >否</option>-->
<!--                    <option  value="1">是</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">是否有效：</label>
            <div class="col-xs-8">
                <select id="valid" name="valid" style="width:140px;" class="form-control ">
                    <option  value="0" selected='selected'>否</option>
                    <option  value="1">是</option>
                </select>
            </div>
        </div>


    </form>
</div>
<div class="modal-footer" style="text-align:center;">
    <button type="button" class="btn btn-primary" id="btnSubmit">确认</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<script th:inline="javascript">
    $(function(){
        $('#form1').validation({reqmark:false});

        $("#province").change(function(){
            var _this=this;
            var code=$(this).find("option:selected").attr("code");
            if(code!=""){
                $.post("../manage/city",{"provincecode":code},function(data){
                    if(data){
                        $("#city").empty();
                        $("#city").append("<option code='' value=''>--请选择--</option>");
                        var dft=$("#city").attr("dft")||"";
                        for(var o in data){
                            $("#city").append("<option code='"+data[o].code+"' value='"+data[o].name+"' "+(data[o].name==dft?"selected=selected":"")+">"+data[o].name+"</option>");
                        }
                        $("#city").val(dft);
                        //$("#city").change();
                    }
                },"json");
            }else{
                $("#city").empty();
                $("#city").append("<option value='' code=''>请选择</option>");
            }
        }).change();
        $("#btnSubmit").click(function(){
            if($("#form1").valid()==false){
                $(".form-group.has-error").eq(0).find("input,select,textarea").focus();
                return false;
            }
            $.post("edit",$("form").serialize()+"&action=save&tokensign="+$.cookie("tokensign"),function(data){
                console.info(data);
                if(data[0]){
                    closemodal();
                    try{
                        Search();
                    }catch(e){};
                }else{
                    alert(data[1]);
                }
            },"json");
        });
    });

</script>
</body>

</html>