<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>保险公司修改</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/bootstrap-validation/bootstrap3-validation.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.cookie.js"></script>
</head>

<body>
<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="exampleModalLabel">保险公司修改</h4>
</div>

<div class="modal-body" style=" overflow:auto;">
    <form id="form1" role="form"  class="form-horizontal" >
        <div class="form-group">
            <label class="col-sm-3 control-label">保险公司代码：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " check-type="required" th:value="${info.code}" th:attr="readonly=${info.code}==''?'false':'readonly'" name="code"  maxlength="20"   />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">保险公司名称：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " check-type="required" th:value="${info.iname}" name="iname"    />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">简称：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "  th:value="${info.shortname}"  name="shortname"    />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "   th:value="${info.address}" name="address" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "   th:value="${info.email}" name="email" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮编：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "   th:value="${info.zip}" name="zip" maxlength="20" />
            </div>
        </div>


    </form>
</div>
<div class="modal-footer" style="text-align:center;">
    <button type="button" class="btn btn-primary" id="btnSubmit">确认</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<script th:inline="javascript">
    $(function(){
        $('#form1').validation({reqmark:false});
        $("#btnSubmit").click(function(){
            if($("#form1").valid()==false){
                $(".form-group.has-error").eq(0).find("input,select,textarea").focus();
                return false;
            }
            $.post("insuranceedit?id="+[[${id}]],$("form").serialize()+"&action=save&tokensign="+$.cookie("tokensign"),function(data){
                //console.info(data);
                if(data[0]){
                    closemodal();
                    try{
                        Search();
                    }catch(e){};
                }else{
                    alert(data[1]);
                }
            },"json");
        });
    });

</script>
</body>

</html>