<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>订单</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap-validation/bootstrap3-validation.min.js"></script>
    <script src="../js/jquery.pwdstrategy.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>
<div class="modal-header" >
    <h4 class="modal-title" id="exampleModalLabel">订单</h4>
</div>

<div class="modal-body" style=" overflow:auto;">
    <form id="form1" role="form"  class="form-horizontal" action="order" method="post" >
        <div class="form-group">
            <label class="col-sm-3 control-label">金额：</label>
            <div class="col-xs-8">
                <input type="hidden"  name="action"   value="save"  />
                <input type="text" class="form-control " check-type="required"   name="txnAmt"    />
            </div>
        </div>

    </form>
</div>
<div class="modal-footer " style="text-align: center;">
    <button type="button" class="btn btn-primary" id="btnSubmit">保存</button>
<!--    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
</div>
<script th:inline="javascript">
    $(function(){
        $('#form1').validation({reqmark:false});
        $("#btnSubmit").click(function(){
            if($("#form1").valid()==false){
                $(".form-group.has-error").eq(0).find("input,select,textarea").focus();
                return false;
            }
            $("#form1").submit();
        });
    });

</script>
</body>

</html>