<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>用户修改</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap-validation/bootstrap3-validation.min.js"></script>
    <script src="../js/jquery.pwdstrategy.js"></script>
    <script src="../js/base64.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.cookie.js"></script>
</head>

<body>
<div class="modal-header" >
    <h4 class="modal-title" id="exampleModalLabel">个人信息</h4>
</div>

<div class="modal-body" style=" overflow:auto;">
    <form id="form1" role="form"  class="form-horizontal" >
        <div class="form-group">
            <label class="col-sm-3 control-label">登录名：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " check-type="required" th:value="${user.username}" name="username"  maxlength="20" th:attr="readonly=${user.id}!=null?'readonly':'false'" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " check-type="required" th:value="${user.truename}" name="truename" maxlength="20"   />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">角色：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "  readonly="readonly" th:value="${user.act}" name="act" maxlength="40" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电话：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "   th:value="${user.tel}" name="tel" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "  th:value="${user.email}" name="email" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">原密码：</label>
            <div class="col-xs-8">
                <input type="password" class="form-control "  id="password" name="password" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">新密码：</label>
            <div class="col-xs-8">
                <input type="password" class="form-control "  id="newpassword" name="newpassword" maxlength="20" /> 密码必须包含数字、英文特及殊字符，不少于8个字符
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">确认密码：</label>
            <div class="col-xs-8">
                <input type="password" class="form-control "  id="newpassword2" name="newpassword2" maxlength="20" />
            </div>
        </div>

    </form>
</div>
<div class="modal-footer " style="text-align: center;">
    <button type="button" class="btn btn-primary" id="btnSubmit">保存</button>
<!--    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
</div>
<script th:inline="javascript">
    $(function(){
        $("#newpassword").pwdstrategy();
        $('#form1').validation({reqmark:false});
        $("#btnSubmit").click(function(){
            if($("#form1").valid()==false){
                $(".form-group.has-error").eq(0).find("input,select,textarea").focus();
                return false;
            }
            if($("#password").val()!=""){
                if($("#newpassword").val()==""){
                    alert("请输入新密码");
                    $("#newpassword").focus();
                    return  ;
                }
                if(!$("#newpassword").pwdpass()){
                    alert("密码必须包含数字、英文特及殊字符，不少于8个字符！");
                    return ;
                }
                if($("#newpassword2").val()!=$("#newpassword").val()){
                    alert("两次密码不一致");
                    $("#newpassword2").focus();
                    return  ;
                }
            }
            if($("#password").val()!="") {
                var pwd = $("#password").val();
                $("#password").val(Base64.encode(pwd));
                var pwd2 = $("#newpassword").val();
                $("#newpassword").val(Base64.encode(pwd2));
                $("#newpassword2").val(Base64.encode(pwd2));
            }
            $.post("uinfo",$("form").serialize()+"&action=save&tokensign="+$.cookie("tokensign"),function(data){
                //console.info(data);
                if(data[0]){
                    alert("修改成功");
                    //closemodal();

                }else{
                    alert(data[1]);
                }
            },"json");
        });
    });

</script>
</body>

</html>