<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>用户修改</title>
    <link rel="stylesheet" href="../js/bootstrap-select/bootstrap-select.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="../js/bootstrap-validation/bootstrap3-validation.min.js"></script>
    <script src="../js/base64.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.cookie.js"></script>
</head>

<body>
<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="exampleModalLabel" th:text="${user.id}!=null?'用户修改':'用户添加'"></h4>
</div>

<div class="modal-body" id="userbody" style=" overflow:auto;">
    <form id="form1" role="form"  class="form-horizontal" >
<!--        <div class="form-group" th:if="${isagency==1}">-->
<!--            <label class="col-sm-3 control-label">经销商代码：</label>-->
<!--            <div class="col-xs-8">-->
<!--                <input type="text" class="form-control "  th:value="${agencyid}" name="agencyid"  maxlength="20" th:attr="readonly=${agencyid}=='0'?'false':'readonly'"  />-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group" th:if="${isagency==1}">-->
<!--            <label class="col-sm-3 control-label">经销商名称：</label>-->
<!--            <div class="col-xs-8">-->
<!--                <input type="text" class="form-control "  th:value="${agencyname}" name="agencyname"  maxlength="20" readonly=readonly />-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group" th:if="${user.id!=null}">
            <label class="col-sm-3 control-label">登录名：</label>
            <div class="col-xs-8"><input type="hidden" id="useragency" value="${user.agencyid}">
                <input type="text" class="form-control " check-type="required" th:value="${user.username}" name="username"  maxlength="50" th:attr="readonly=${user.id}!=null?'readonly':'false'" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "  check-type="required"  th:value="${user.email}" name="email" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " check-type="required" th:value="${user.truename}" name="truename" maxlength="20"   />
            </div>
        </div>
        <div class="form-group" th:if="${user.id}==null">
            <label class="col-sm-3 control-label">密码：</label>
            <div class="col-xs-8">
                <input type="password" class="form-control " check-type="required" th:value="${user.password}" name="password" id="password" maxlength="100" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电话：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "  check-type="required" th:value="${user.tel}" name="tel" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">角色：</label>
            <div class="col-xs-8">
                <select id="act" name="act" style="width:140px;" class="form-control ">
                    <option th:each="map,userStat:${act}" th:value="${map.actname}" th:text="${map.actname}" th:attr="selected=(${user.act}==${map.actname}?'selected':'false')"></option>

                </select>
            </div>
        </div>
        <div id="code2" class="form-group" style="display: none">
            <label class="col-sm-3 control-label">品牌：</label>
            <div class="col-xs-8">
                <select id="brand" class="form-control " check-type="required"  name="brand">
                    <option th:each="map,userStat:${brand}" th:value="${map.brand}" th:text="${map.brand}" th:attr="selected=(${user.brand}==${map.brand}?'selected':'false')"></option>

                </select>
            </div>
        </div>
        <div id="code" class="form-group" style="display: none">
            <label class="col-sm-3 control-label">经销商：</label>
            <div class="col-xs-8">
                <select id="agencyid1" class="form-control selectpicker" check-type="required" data-live-search="true" name="agencyid1" data-size="5" th:attr="dft=${user.agencyid}">
                    <option  selected="selected"  ></option>
<!--                    <option th:each="map,userStat:${agency}" th:value="${map.dealerno}" th:text="${map.dealername}" th:brand="${map.brand}" th:attr="selected=(${user.agencyid}==${map.dealerno}?'selected':'false')"></option>-->

                </select>
            </div>
        </div>
        <div id="div_icode" class="form-group" style="display: none">
            <label class="col-sm-3 control-label">保险公司：</label>
            <div class="col-xs-8">
                <select id="icode" class="form-control" check-type="required"  name="icode" data-size="5">
                    <option th:each="map,userStat:${insurance}" th:value="${map.code}" th:text="${map.shortname}" th:attr="selected=(${user.agencyid}==${map.code}?'selected':'false')"></option>

                </select>
            </div>
        </div>
        <div id="div_icode2" class="form-group" style="display: none">
            <label class="col-sm-3 control-label">可理赔产品：</label>
            <div class="col-xs-8">
                <label><input type="checkbox" id="claimpro_1" name="claimpro" value="PS-车辆置换服务" th:checked="${#arrays.contains(#strings.arraySplit(user.claimpro,','),'PS-车辆置换服务')}" >PS-车辆置换服务</label>
                <label><input type="checkbox"  id="claimpro_2"  name="claimpro"  value="PS-机动车钥匙重置服务" th:checked="${#arrays.contains(#strings.arraySplit(user.claimpro,','),'PS-机动车钥匙重置服务')}">PS-机动车钥匙重置服务</label>
                <label><input type="checkbox"  id="claimpro_3"  name="claimpro"  value="PS-轮胎保障服务" th:checked="${#arrays.contains(#strings.arraySplit(user.claimpro,','),'PS-轮胎保障服务')}">PS-轮胎保障服务</label>

            </div>
        </div>
        <div id="div_icode3" class="form-group" style="display: none">
            <label class="col-sm-3 control-label">是否允许批复理赔：</label>
            <div class="col-xs-8">
                <select id="isapproval" class="form-control" style="width:140px;"  name="isapproval">
                    <option value="1"  th:attr="selected=${user.isapproval}==1?'selected':'false'">是</option>
                    <option value="0"  th:attr="selected=${user.isapproval}==0?'selected':'false'">否</option>
                </select>
            </div>
        </div>
        <div class="form-group" th:if="${user.id}!=null">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-xs-8">
                <select id="valid" name="valid" style="width:140px;" class="form-control ">
                    <option value="1"  th:attr="selected=${user.valid}==1?'selected':'false'">有效</option>
                    <option value="0"  th:attr="selected=${user.valid}==0?'selected':'false'">无效</option>

                </select>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">激活：</label>-->
<!--            <div class="col-xs-8">-->
<!--                <select id="isactived" name="isactived" style="width:140px;" class="form-control ">-->
<!--                    <option value="1"  th:attr="selected=${user.isactived}==1?'selected':'false'">是</option>-->
<!--                    <option value="0"  th:attr="selected=${user.isactived}==0?'selected':'false'">否</option>-->

<!--                </select>-->
<!--            </div>-->
<!--        </div>-->

    </form>
</div>
<div class="modal-footer" style="text-align:center;">
    <button type="button" class="btn btn-primary" id="btnSubmit">确认</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<script th:inline="javascript">
    var domainenter=[[${domainenter}]];
    $(function(){
        var sel=null;
        // $("#agencyid1").selectpicker({});
        // //$("#agencyid1").selectpicker('refresh');
        // $("#agencyid1").selectpicker('render');
        $('#form1').validation({reqmark:false});

        $("#brand").change(function(){
            var v=$(this).val();
            if(v!=""){
                $("#agencyid1").find("option").remove();
                $.post("useredit?id="+[[${id}]],"action=brand&tokensign="+$.cookie("tokensign")+"&brand="+v,function(data) {
                    if (data) {
                        console.info(data.length);
                        var dft=$("#agencyid1").attr("dft");
                        $.each(data,function(i,n){
                            $optionStr = $("<option>").attr({"value" : n.dealerno,"brand":n.brand}).text(n.dealername);
                            if(n.dealerno==dft){
                                $optionStr.attr("selected","true");
                            }
                            $("#agencyid1").append($optionStr);
                        });
                        if(sel!=null) {
                            $("#agencyid1").selectpicker('destroy');
                        }
                        sel= $("#agencyid1").selectpicker({});
                        $("#agencyid1").selectpicker('refresh');
                    }
                },"json");
            }
        });
        $("#act").change(function(){
            if($(this).val()=="经销商"){
                // if($("#useragency").val()=="zb"){
                //     $("#agencyid1").val("");
                // }
                $("#code").show();
                $("#code2").show();
                $("#brand").trigger("change");
            }else{
                $("#code").hide();
                $("#code2").hide();
                $("#agencyid1").val("");
            }
            if($(this).val().indexOf("保险公司")>=0){
                // if($("#agencyid1").val()=="zb"){
                //     $("#agencyid1").val("");
                // }
                $("#div_icode").show();
                if(domainenter==1){
                    $("#div_icode2").show();
                    $("#div_icode3").show();
                }

            }else{
                $("#div_icode").hide();

                if(domainenter==1) {
                    $("#div_icode2").hide();
                    $("#div_icode3").hide();
                }
                $("#icode").val("");
            }
        }).trigger("change");//.change();
        $("#btnSubmit").click(function(){
            if($("#form1").valid()==false){
                $(".form-group.has-error").eq(0).find("input,select,textarea").focus();
                return false;
            }
            if($("#password").length>0) {
                var pwd = $("#password").val();
                $("#password").val(Base64.encode(pwd));
            }
            $.post("useredit?id="+[[${id}]],$("form").serialize()+"&action=save&tokensign="+$.cookie("tokensign"),function(data){
                //console.info(data);
                if(data[0]){
                    closemodal();
                    try{
                        Search();
                    }catch(e){};
                }else{
                    alert(data[1]);
                }
            },"json");
        });
    });

</script>
</body>

</html>