<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>车型修改</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/bootstrap-validation/bootstrap3-validation.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.cookie.js"></script>
</head>

<body>
<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="exampleModalLabel">车型修改</h4>
</div>

<div class="modal-body" id="carbody" style=" overflow:auto;">
    <form id="form1" role="form"  class="form-horizontal" >
        <div class="form-group">
            <label class="col-sm-3 control-label">品牌：</label>
            <div class="col-xs-8"><input type="hidden" id="tid" name="tid" th:value="${info.tid}">
                <select id="brand" name="brand"   class="form-control ">
                    <option th:each="map,userStat:${brands}" th:value="${map.salebrand}" th:text="${map.salebrand}" th:attr="selected=(${info.brand}==${map.salebrand}?'selected':'false')"></option>

                </select>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-3 control-label">车系名称：</label>
            <div class="col-xs-8">
                <select id="cars" name="cars"   class="form-control "  th:attr="dft=${info.cars}">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div  class="form-group" >
            <label class="col-sm-3 control-label">车型名称：</label>
            <div class="col-xs-8">
                <input type="text" class="form-control "  check-type="required"  th:value="${info.vehicletype}" id="vehicletype" name="vehicletype" maxlength="25" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-xs-8">
                <select id="valid" name="valid" style="width:140px;" class="form-control ">
                    <option value="1"  th:attr="selected=${info.valid}==1?'selected':'false'">有效</option>
                    <option value="0"  th:attr="selected=${info.valid}==0?'selected':'false'">无效</option>

                </select>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer" style="text-align:center;">
    <button type="button" class="btn btn-primary" id="btnSubmit">确认</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<script th:inline="javascript">
    $(function(){
        $('#form1').validation({reqmark:false});
        $("#brand").on("change",function(){
            var k=$(this).val();
            if(k!=""){
                $.post("cars",{"brand":k},function(data){
                    if(data){
                        $("#cars").empty();
                        $("#cars").append("<option key='' value=''>全部</option>");
                        var dft=$("#cars").attr("dft")||"";
                        for(var o in data){
                            $("#cars").append("<option key='"+o+"' value='"+data[o]+"' "+(data[o]==dft?"selected=selected":"")+">"+data[o]+"</option>");
                        }
                        $("#cars").val(dft);
                    }
                },"json");
            }else{
                $("#cars").empty();
                $("#cars").append("<option value='' key=''>全部</option>");
            }
        }).change();
        $("#btnSubmit").click(function(){
            if($("#form1").valid()==false){
                $(".form-group.has-error").eq(0).find("input,select,textarea").focus();
                return false;
            }
            $.post("vehicleedit",$("form").serialize()+"&action=save&tokensign="+$.cookie("tokensign"),function(data){
                //console.info(data);
                if(data[0]){
                    closemodal();
                    try{
                        Search();
                    }catch(e){};
                }else{
                    alert(data[1]);
                }
            },"json");
        });
    });

</script>
</body>

</html>