*{padding:0;margin:0}
html,body{font:12px/1.5em Arial,"微软雅黑";background:#f1f3fa;height:100%;}
ul,ol,li{list-style: none;}
img{border: none;}
a {outline: none;text-decoration:none;color:#006cd1;}
/*a:active {star:expression(this.onFocus=this.blur());}*/
:focus { outline:0; }
.e-hide{display:none;}
.e-block{display:block;}
.e-noborder{border:none 0;}










