@charset "utf-8";

body{
	background:url(../images/bg.gif);
	margin:0px;
	font-size:12px;
	font-family:微软雅黑;}

.clr{ clear:both;}	
a{text-decoration:none;}
a:hover{text-decoration:none;}
.adh{ color:#666; display:block; padding:5px 10px; margin:10px;}
.adh:hover{ color:#fff; background:#449934;}
.adh2{ color:#fff; display:block; padding:5px 10px; margin:10px; background:#449934;}
.adh2:hover{ color:#fff; background:#449934;}


.bt{ color:#000; font-size:14px; font-weight:bold;}
.bt:hover{ color:#666;}

.a1{ color:#999;}
.a1:hover{ color:#666;}


.top{ height:100px; margin:auto; background:#fff;}
.logo{ width:980px; margin:auto; height:100px;}
.logo2{ width:212px; float:left; height:100px;}
.nav{ float:right; height:78px; width:650px; padding-top:22px;}
.nav ul{margin:0px; list-style:none; padding:0px; }
.nav li{ float:left; font-weight:bold; font-size:16px;}
.banner{ height:420px; margin:auto; }
.banner2{ height:218px; margin:auto; width:980px;}


.body{ margin:auto; height:300px; width:980px;}
.foot{ margin:auto; height:60px; border-top:1px solid #CCC; text-align:center; padding-top:20px; line-height:22px; width:980px;}

.dq{ line-height:50px; width:980px; margin:auto;}
.nr{width:980px; margin:auto; color:#333; font-size:14px; line-height:24px;}
.tm{font-size:26px; color:#090; font-weight:bold;}
.news{ width:978px; margin:auto; border:#ebebeb 1px solid; margin-bottom:30px;}
.news ul{margin:0px; list-style:none; padding:0px; }
.news li{ float:left;  font-size:16px; width:978px; border-bottom:#CCC dashed 1px; height:53px;}
.news span{ float:right; color:#9a9a9a; font-size:14px; width:200px; text-align:center;}
.an{ display:block; line-height:53px; color:#5c5c5c; width:928px;height:53px; padding-left:50px; background:url(../images/a1.png) no-repeat;}
.an:hover{background:url(../images/a2.png) no-repeat #f2f2f2; color:#3d9e33;}

.news2{ width:948px; margin:auto; border:#ebebeb 1px solid; margin-bottom:30px; padding:15px; background:#FFF;}

.dbt{text-align:center; font-size:18px; color:#449934; font-weight:bold; background:#efefef; line-height:53px;}

.fx{ float:right;}

.wz{ color:#333; font-size:14px; line-height:24px;}