@charset "utf-8";
/* CSS Document */

*{ padding: 0; margin: 0;}

body{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px;}
.wx{ width: 94%; margin: 0 auto;}
.wx h1{ line-height: 40px; font-size: 17px; padding-top: 6%; padding-bottom: 2%;}
.wx .weui_cell{ display: flex;  padding: 6px 0; margin-bottom: 6%; height: 40px; line-height: 40px; border:1px solid #d9d9d9; width: 100%; border-radius: 2px;}
.wx .weui_cell .weui_select{ box-shadow:none;  text-indent: 6px; border:none; height: 40px; line-height: 40px; width: 90%; font-size: 18px; appearance:none; -moz-appearance: none; -webkit-appearance:none; outline: none; background-color:transparent;  -webkit-tap-highlight-color:transparent; webkit-tap-highlight:rgba(255,255,255,0);  -webkit-text-size-adjust:none; }
.weui_select option{ text-indent: 4px;}
.weui_label{ text-indent: 6px; display: inline-block; width: 120px; word-wrap:break-word; word-break:break-all; font-size: 18px; }
.weui_input{ background-color:transparent;  -webkit-tap-highlight-color:transparent; webkit-tap-highlight:rgba(255,255,255,0);  -webkit-text-size-adjust:none;  width: 80%; border:0; outline: none; font-size: 18px; color: #f00; line-height: 40px; padding-top: 1%;}
.weui_btn{ width: 100%; display: block; font-size: 18px; text-align: center; border-radius: 5px; line-height: 42px; background-color: #04be02; margin: 15% auto ; }
.weui_btn .weui_btn_sure{ color: #fff; text-decoration: none; width: 100%;}
.arrow-down{ width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #a5a5a5; font-size: 0px; line-height: 60px; margin: 20px 10px 0px 0px; display: inline-block;}


.wx_pay{ margin: 8% auto 0; background-color: #fff; border:1px solid #d9d9d9; border-radius: 5px; padding: 5% 0; width: 100%;}
.wx_pay .wx_p{ width: 90%; margin: 0 auto;}
.wx_pay .wx_p p{ line-height: 40px; font-size: 18px;}