/*提醒*/
.tip{ padding:0.33rem;}
.tip .tip_cont{ background:url(../images/tip.png) no-repeat left center; color:#d2001e; font-size:0.46rem; line-height:0.8rem; padding-left:0.8rem; background-size:0.66rem;}
.cont{ background:#fff; width:100%; border-top:1px solid #efefef; margin-bottom:0.33rem;}
.arrow{ position:absolute; right:0; top:0rem;}
.arrow img{ width:60%;}
/*标题*/
.header{ width:100%;  height:1.33rem; line-height:1.33rem; border-bottom:1px solid #efefef;}
.header >h1{ font-weight:normal; padding-left:0.33rem; color:#d2001e; font-size:0.556rem; border-left:4px solid #d2001e;}
/*提交按钮*/
.btn{ margin:0.66rem 0.33rem; padding-bottom:0.66rem;}
.btn p{ width:100%; background:#d2001e; color:#fff; border-radius:0.1rem; text-align:center; line-height:1.2rem;font-size:0.486rem; }
/*账单弹出层*/
.shade{ display: none; background: rgba(0,0,0,0.5); position:absolute; top: 0; width: 100%; height: 100%; z-index: 56;}
.show_date{ background: #fff; border-radius: 6px; width: 4.33rem; position: absolute; right: 0.33rem; top: 1.86rem;}
.show_date .date_list{ margin: 0.33rem;}
.show_date .date_list li{ line-height: 0.925rem; font-size: 0.486rem;  }
.show_date:after{ content: ""; display: block; position: absolute; width:0; height: 0; border-left: 0.63rem solid transparent; border-right: 0.63rem solid transparent; border-bottom: 0.66rem solid #fff; top: -0.23rem; right: 0.33rem;}
/*紧急救援电话图标*/
.tel_num{ background:url(../images/vip/tel_vip.png) no-repeat center left; background-size:0.827rem; text-indent:0.99rem;}
.tel_icon{ position:absolute; top:0.11rem; left:0; width:0.827rem;}
/*加载动画*/
.load_flash{
    width: 100%;
    height: auto;
    padding-top: 100px;

}

.loadEffect{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;

}
.loadEffect span{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d2001e;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 14px;
    top: 14px;
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 14px;
    right:14px;
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 14px;
    bottom:14px;
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay:1.04s;
}