body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button,dl,dt,dd,a{margin:0;padding:0;}
            table{ border-collapse:collapse;border-spacing:0;}
            fieldset,img{ border:0;}
            address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal;font-weight:normal;}
            ol,ul,li,dl,dt,dd{ list-style:none}
            caption,th{ text-align:left;}
            h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
            q:before,q:after{ content:''}
            abbr,acronym{border:0;font-variant:normal;}
            button {cursor:pointer; border:0;}
            input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
            input,button,textarea,select{*font-size:100%;}
            del,ins{text-decoration:none;}
            small{font-size:100%;}
            .clearfix:after{ content:"."; display:block; height:0px; clear:both; visibility:hidden;}
            .clearfix{ display:inline-block;}
            *html.clearfix{ height:1%;}
            .clearfix{ display:block;}
            html{font-size: 62.5%;}
            body{ background:#fff; font-family:"宋体","Arial","sans-serif";  color:#1f262d; font-size:1.2rem;margin:0;padding:0;position: relative;}
            a{ text-decoration:none;}
            .blue{background: #5b9dd5;border: solid 1px #42719b;color: #fff;}
            .hide{display: none;}
            .fl{float: left;}
            .fr{float: right;}



.rm_addMyCar{
      display: block;
      width: 90%;
      margin:1rem auto;
      height: 4.1rem;
      line-height: 4.1rem;
      text-align: center;
      color: #fff;
      font-size: 1.6rem;
      background: #83cf51;
      border-radius: .6rem;
}
.rm_addMyCar span{
      display: inline-block;
      width: 16rem;
      height: 100%;
      background: url(../img/sprite.png) no-repeat -4rem 0.8rem;
      text-indent: 3.6rem;
}
.rm_content{
      width: 90%;
      margin: 1.2rem auto;
}
.rm_enjoy h1{
      color: #cdcdcd;
}
.rm_enjoy .rm_btns,.rm_show{
      border:solid 1px #cdcdcd;
      border-radius: .6rem;
      height: 6.1rem;
      width: 100%;
      margin:1rem auto;
}
.rm_enjoy ul{
      height: 100%;
}
.rm_enjoy li{
      float: left;
      width: 33%;
      height: 100%;
}
.rm_enjoy a{
      display: block;
      width: 100%;
      height: 100%;
      line-height: 6.1rem;
      text-indent: 4.5rem;
      color:#cdcdcd;
}
.rm_enjoy .rm_btn1{
      background: url(../img/sprite.png) no-repeat -3.8rem -4.2rem;
}
.rm_enjoy .rm_btn2{
      background: url(../img/sprite.png) no-repeat -3.8rem -11.8rem;
}
.rm_enjoy .rm_btn3{
      background: url(../img/sprite.png) no-repeat -3.8rem -18.7rem;
}
.rm_show a{
      display: block;
      width: 100%;
      height: 100%;
}
.rm_show i{
      float: left;
      display: block;
      width: 5rem;
      height: 5rem;
      background: url(../img/sprite.png) no-repeat -3.8rem -26.1rem;
}
.rm_show1 i{
      background: url(../img/sprite.png) no-repeat 5px -2129px; 
}
.rm_show2 i{
      background: url(../img/sprite.png) no-repeat 4px -2241px; 
}
.rm_show s{
      float: right;
      display: block;
      width: 2.1rem;
      height: 5.7rem;
      background: url(../img/sprite.png) no-repeat -7rem -34rem;
}
.rm_show div{
      float: left;
      height: 6.1rem;
}
.rm_show h2{
      color: #4c4c4c;
      font-size: 1.6rem;
      line-height: 3rem;
      padding-top: 1rem;
}
.rm_show p{
      color: #cdcdcd;
      font-size: 1.2rem;
}
footer p{
      text-align: center;
}

.rm_addCar{
      display: block;
      width: 90%;
      height: 8.3rem;
      line-height: 8.3rem;
      text-align: center;
      border:solid 1px #7ec047;
      color:#7ec047;
      border-radius: .6rem;
      margin: 1rem auto;
}
.rm_addCar span{
      display: inline-block;
      width: 16rem;
      height: 100%;
      text-indent: 5rem;
      background: url(../img/sprite.png) no-repeat -1rem -40.8rem;
}
.rm_addCar11 span{
      background: url(../img/sencon.png) no-repeat -0rem -34rem;
      font-weight: bold;
      text-indent: 6rem;
}
.rm_addBuy_btns{
      width: 90%;
      padding:.6rem 0;
      height: 4.9rem;
      background: #6f747a;
      border-radius: .6rem;
      overflow: hidden;
      margin:1rem auto;
}
.rm_addBuy_btns li{
      float: left;
      width: 24.5%;
      border-right: solid 1px #656a70;
}
.rm_addBuy_btns .rm_liLast{
      border:none;
}
.rm_addBuy_btns a{
      display: block;
      line-height: 9rem;
      color:#cdcdcd;
      text-align: center;
}
.rm_addBuy_btns .rm_abtn1{
      background: url(../img/sprite.png) no-repeat center -607px;
}
.rm_addBuy_btns .rm_abtn2{
      background: url(../img/sprite.png) no-repeat center -674px;
}
.rm_addBuy_btns .rm_abtn3{
      background: url(../img/sprite.png) no-repeat center -735px;
}
.rm_addBuy_btns .rm_abtn4{
      background: url(../img/sprite.png) no-repeat center -805px;
}
.rm_tips{
      width: 90%;
      margin: 1rem auto;
      background: #efefef;
      color: #cdcdcd;
      border-radius: .6rem;
      height: 2.5rem;
      line-height: 2.5rem;
}
.rm_tips span{
      display: inline-block;
      height: 2.5rem;
      background: url(../img/sprite.png) no-repeat -69px -886px;
      text-indent: 3rem;
}
.rm_addBuy_btns2{
      width: 90%;
      margin: 1rem auto;
}
.rm_addBuy_btns2 li{
      float: left;
      margin: 3%;
      width: 40%;
      height: 10rem;
      border:solid 1px #7ec047;
      border-radius: .6rem;
}
.rm_addBuy_btns2 a{
      display: block;
      line-height: 16rem;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #cdcdcd;
}
.rm_addBuy_btns2 .rm_abtn5{
      background: url(../img/sprite.png) no-repeat center -929px;
}
.rm_addBuy_btns2 .rm_abtn6{
      background: url(../img/sprite.png) no-repeat center -1031px;
}
.rm_addBuy_btns2 .rm_abtn7{
      background: url(../img/sprite.png) no-repeat center -1135px;
}
.rm_addBuy_btns2 .rm_abtn8{
      background: url(../img/sprite.png) no-repeat center -1244px;
}
.rm_addMyCar .rn_nobg{
      background: none;
      text-indent: 0;
}
.rm_helpTel{
      width: 90%;
      margin: 1rem auto;
}
.rm_helpTel h1,.rm_baoxian h1{
      color: #444;
      font-weight: bold;
      line-height: 3rem;
}
.rm_helpTel div{
      border: solid 1px #cdcdcd;
      border-radius: .6rem;
}
.rm_helpTel a{
      color:#444;
}
.rm_helpTel p{
      height: 5rem;
      line-height: 5rem;
      border-bottom: solid 1px #cdcdcd;
      background: url(../img/sprite.png) no-repeat right -1370px;
}
.rm_helpTel span{
      padding: 0 2.1rem;
}
.rm_baoxian{
      width: 90%;
      margin: 1rem auto;
}
.rm_baoxian select{
      width: 70%;
      height: 5rem;
      border: solid 1px #cdcdcd;
      color: #444;
      float: left;
      border-radius: .6rem;
      padding-left: 2.1rem;
}
.rm_baoxian i{
      float: right;
      width: 50px;
      height: 50px;
      border:solid 1px #cdcdcd;
      border-radius: .6rem;
      background: url(../img/sprite.png) no-repeat -48px -1375px;
}
#allmap{
      width: 100%;
      height: 20rem;
}


.rm_selex_last{
      width: 90%;
      margin: 1.2rem auto;
      display: block;
      height: 12rem;
      border: solid 1px #ddd ;
      text-indent: 2rem;
      border-radius: 6px;
      font-size: 1.8rem;
      line-height: 30px;
      padding: 6px;
}














/*sele_car type*/
.rm_selex_type{
      margin: 1.2rem auto;
      width: 90%;

}
.rm_selex_type div{
      position: relative;
      width: 100%;
      height: 4rem;
}
.rm_selex_type div i{
      position: absolute;
      top: 6px;
      left: 1.6rem;
      width: 10rem;
      height: 30px;
      font-size: 1.6rem;
      color: #5d5d5d;
      border-right: dashed 1px #ddd ;
      font-style:normal;
      line-height: 30px;
      font-weight: bold;

}
.rm_selex_type div span{
      position: absolute;
      top: 10px;
      right:0;
      width: 8rem;
      height: 30px;
      background: url(../img/sprite.png) no-repeat -3.8rem -35.6rem;

}
.rm_selex_type input{
      display: block;
      width: 100%;
      height: 4rem;
      border: solid 1px #ddd ;
      text-indent: 15rem;
      font-size: 1.8rem;
}
.rm_selex_type22 input{
      text-indent: 6rem;
}
.rm_valuationbg1 input{
  background: url(../img/sencon.png) no-repeat 2rem 0.5rem;
}
.rm_valuationbg2 input{
  background: url(../img/sencon.png) no-repeat 22px -88px;
}
/* .rm_selex_type div i.rm_selex_typea{
      border-right:none ;
      width: 4rem;
      background: url(../img/sencon.png) no-repeat -0rem -0.1rem;
}
.rm_selex_type div i.rm_selex_typeb{
      border-right:none ;
      width: 4rem;
      background: url(../img/sencon.png) no-repeat -0rem -7.9rem;
} */
.rm_selex_type div i.rm_selex_typec{
      border-right:none ;
      width: 4rem;
      background: url(../img/sencon.png) no-repeat -0rem -16rem;
}
.rm_selex_type div i.rm_selex_typed{
      border-right:none ;
      width: 4rem;
      background: url(../img/sencon.png) no-repeat -0rem -25.5rem;
}
.rm_selex_type33 h1{
     width: 90%;
     line-height: 30px;
     height: 30px;
     text-indent: 6rem;
     color:#d6d6d6;
     background: url(../img/sprite.png) no-repeat -48px -1544px;
     font-weight: bold;
}
.rm_selex_type33 div i.rm_selex_typea,.rm_selex_type33 div i.rm_selex_typeb,.rm_selex_type33 div i.rm_selex_typec,.rm_selex_type33 div i.rm_selex_typed{
      background: url(../img/sprite.png) no-repeat -52px -1662px;
}
.rm_selex_type .rm_selex_type1{
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom:none;
      
}
.rm_selex_type .rm_selex_type3{
      border-bottom:silid 1px #ddd;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
}
.rm_selex_type .rm_selex_type2{
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top:none;
}
.rm_sele_foot{
      margin: 1.2rem auto;
      width: 90%;
      background: #efefef;
      border-radius: 6px;
      font-size: 1.4rem;
}
.rm_sele_foot ul{
      padding: 12px;
}
.rm_sele_foot ul li{
      line-height: 26px;
      color: #a1a1a1;
}






/* car detail */
.rm_detailcar{
      width: 90%;
      margin: 1.2rem auto;
      border: solid 1px #07f031 ;
      border-radius: 6px;
      line-height: 50px;
      height: 50px;
      display: block;
      text-indent: 5rem;
      font-size: 1.6rem;
      color: #444;
}
.rm_detailcar span{
     display: inline-block;
     font-size: 1.4rem;
     color: #07f031;
      background: url(../img/sprite.png) no-repeat -37px -1739px;
}
.rm_detailcar_h1{
      width: 90%;
      margin: 1.2rem auto;
      line-height: 30px;
      height: 30px;
      color: #444;
      font-size: 1.6rem;
}
.rm_detailcar_sec{
      border: solid 1px #dfdfdf ;
      border-radius: 6px;
      width: 90%;
      margin: 1.2rem auto;
}
.rm_detailcar_sec p{
      line-height: 30px;
      height: 30px;
      border-bottom:solid 1px #dfdfdf;
      background: #f8f8f8;
      text-indent: 1rem;
      font-weight: bold;
      font-size: 1.6rem;
}
.rm_detailcar_sec ul li{
      line-height: 50px;
      height: 50px;
      border-bottom:solid 1px #dfdfdf;
      text-indent: 1rem;
      font-size: 1.4rem;
      color: #a1a1a1;
       background: url(../img/sprite.png) no-repeat right -1846px; 
}



.rm_out{
      background: #444;
      position: absolute;
      top: -12px;
      left: 0;
      z-index: 99;
      display: none;


}
.rm_outer{
    width: 20rem;
    height: 20rem;
    border: #fff;
    margin: 4rem auto;
    background: #dfdfdf;
    display: none;
    overflow: hidden;
    overflow-y: auto;
}
.rm_outer ul {
      margin: 1.2rem;
}
.rm_outer p{
      line-height: 30px;
      height: 30px;
      font-size: 1.6px;
      font-weight: bold;
      color: #444;
}
.rm_outer ul li{
      line-height: 20px;
      color: #333;
      font-size: 1.4rem;
      cursor: pointer;
}


#speak_rm{
      display: block;
      font-weight: bold;
      text-align: center;
      color: #fff;
      font-size: 1.4rem;
      background: #808186;
      border-radius: .6rem;
      border: solid 1px #ddd ;
      float: right;
      width: 70%;
      border-radius: 6px;
      height: 26px;
      line-height: 26px;
}



.selcon_h{
      display: block;
      width: 100%;
      height: 6rem;
      line-height: 6rem;
      text-indent: 4rem;
      color: #fff;
      font-size: 1.6rem;
      
      background: url(../img/sprite.png) no-repeat left -1953px; 
      background-color: #4b4b4b;
}
.selcon_sec {
      width: 90%;
      margin: 2rem auto;
      
}
.selcon_sec  ul{
      margin: 1rem;
      width: 100%;
      margin-top: -30px;
}
.selcon_sec  ul li{
      width: 33%;
      height: 60px;
      margin-top: 48px;
      float: left;
}
.selcon_sec  ul li a{
      width: 60px;
      height: 60px; 
      position: relative; 
      margin: 0 auto;
      display: block;
}
.selcon_sec  ul li a i{
      width: 2rem;
      height: 2rem;
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      background: url(../img/sprite.png) no-repeat left -2065px; 
}
.selcon_sec  ul li a img{
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 35px;
      border: solid 1px #ddd ; 
      text-align: center;
      margin: 0 auto;

}
.selcon_sec  ul li p{
      height: 4.1rem;
      line-height: 4.1rem;
      text-align: center;
      color: #444;
      font-size: 1.4rem;
}





.rm_contdetail{
      width: 90%;
      border: solid 1px #cdcdcd;
      border-radius: .6rem;
      height: 10.1rem;
      margin: 1rem auto;
}
.rm_contdetaill{
      float: left;
      height: 8rem;
      margin-top: 1rem;
      width: 70%;
      border-right: dashed 1px #ddd ;
}
.rm_contdetaill img{
      width: 80px;
      height: 60px;
      display: block;
      float: left;
      margin-top: 8px;
      margin-left: 1.2rem;
}
.rm_contdetaill div{
      float: right;
      margin-right: 1.2rem;

}
.rm_contdetaill div p{
     line-height: 40px;
     height: 40px;
     text-align: left;
     font-size: 1.6rem;
     font-weight: bold;
     background: url(../img/sprite.png) no-repeat 2px -1743px;
}
.rm_contdetaill div span{
     line-height: 20px;
     height: 20px;
     text-align: left;
     font-size: 1.4rem;
     width: 100%;
     display: block;
}
.rm_contdetaill div a{
     line-height: 20px;
     max-width:12rem;
     text-align: left;
     font-size: 1.4rem;
     display: block;
     width: 100%;
     color: #2581c5;
}
.rm_contdetaill div span i{
      color: #ffb049;
}
.rm_contdetailr{
      display: block;
      float: right;
      width: 29%;
      margin-top: 1rem;
}
.rm_contdetailr img{
      margin: 1rem auto;
      width: 6rem;
      height: 6rem;
      border:solid 1px #ddd ;
      border-radius: 35px;
      display: block;
}




.rm_evzl{
      width: 90%;
      border: solid 1px #cdcdcd;
      border-radius: .6rem;
      height: 21rem;
      margin: 1rem auto;
      position: relative;
      background: #fafafa;
}
.rm_evzl>i{
      width: 6rem;
      height: 6rem;
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      background: url(../img/sprite.png) no-repeat left -2578px; 
}
.rm_evzl img{
      margin: 2rem auto;
      width: 6rem;
      height: 6rem;
      border:solid 1px #ddd ;
      border-radius: 35px;
      display: block;
}
.rm_evzl p{
     line-height: 30px;
     height: 30px;
     text-align: center;
     font-size: 1.6rem;
     display: block;
     width: 100%;
     color: #555;
     font-weight: bold;
}
.rm_evzl span{
     line-height: 30px;
     height: 30px;
     text-align: center;
     font-size: 1.4rem;
     display: block;
     width: 100%;
     color: #ddd;
}
.rm_evzl div{
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      background: #82cf4f;
      height: 46px;
      width: 100%;
      margin-top: 2rem;
}
.rm_evzl div a{
      display: inline-block;
      color: #fff;
      font-size: 1.4rem;
      line-height: 40px;
      margin-top: 3px;
      width: 49%;

}
.rm_evzl div a i{
      font-style: normal;
}
.rm_evzl div a.a11_div{
   border-right: solid 1px #fff ;
}
.rm_evzl div a.a11_div i{
   width: 8rem;
   height: 40px;
   line-height: 40px;
   margin: 0 auto;
   display: block;
   background: url(../img/sprite.png) no-repeat left -2690px; 
   text-indent: 4rem;

}
.rm_evzl div a.a22_div i{
   width: 8rem;
   height: 40px;
   line-height: 40px;
   margin: 0 auto;
   display: block;
    text-indent: 4rem;
    background: url(../img/sprite.png) no-repeat left -2480px; 
}
.rm_evzlf{
      height: 60px;
      width: 90%;
      margin: 0 auto;
}
.rm_evzlf a{
      color: #ddd;
      width: 49%;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      font-size: 1.6rem;
}
.rm_evzlf a.rm_evzlfl{
      text-align: left;

}
.rm_evzlf a.rm_evzlff{
      text-align: right;
}


.help_header{
      width: 90%;
      height: 40px;
      margin: 1.2rem auto ;
      line-height: 40px;
      border: solid 1px #ddd ;
      border-radius: 6px;
}
.help_header select{
      height: 40px;
      width: 100%;
      border: none;
      font-size: 1.4rem;
      border-radius: 6px;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      line-height: 26px;
      display: inline-block;
      
}
.help_header select option{
      line-height: 26px;
      height: 26px;
}




.rm_chak{
      width: 90%;
      height: 36px;
      line-height: 36px;
      text-align: center;
      display: block;
      margin: 0 auto;
      color: #ddd;

}
.rm_cmo{
      width: 90%;
      margin: 0 auto;
      display: none;
}
.rm_cmo>p{
      color: #fff;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      font-size: 1.6rem;
      width: 100%;
      background: #828282;
      text-indent: 1rem;
      margin-top: 1rem;

}
.rm_cmo>p>i{
      font-style: normal;
}
.rm_cmo>ul{
      width: 100%;
      margin: 1rem auto;
}
.rm_cmo>ul>li{
      border-bottom: solid 1px #ddd ;
}
.rm_cmo>ul>li>span{
      color: #ddd;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      font-size: 1.4rem;
      width: 100%;
      text-indent: 1rem;

}
.rm_cmo>ul>li .rm_cmodeu{
      float: left;
      margin-left: 1rem;

}
.rm_cmo>ul>li .rm_cmodeu span{
     color: #444;
      display: block;
      height: 20px;
      line-height: 20px;
      font-size: 1.4rem;
      width: 100%;
      text-indent: 0rem;
      padding-bottom: 1rem;

}
.rm_cmo>ul>li .rm_cmodeu p{
      color: #444;
      display: block;
      height: 20px;
      line-height: 20px;
      font-size: 1.4rem;
      width: 100%;
      text-indent: 0rem;

      padding-top: 1rem;
}
.rm_cmo>ul>li .rm_cmoded{
      float: right;
      margin-right: 1rem;
}
.rm_cmo>ul>li .rm_cmoded a{
      text-align: center;
      line-height: 26px;
      height: 26px;
      display: inline-block;
      padding: .4rem 2rem;
      margin-left: 2rem;
}
.rm_cmo>ul>li .rm_cmoded a.rm_cmodeda{
      background: #82cf4f;
      border-radius: 6px;
      color: #fff;
}
.rm_cmo>ul>li .rm_cmoded a.rm_cmodedb{
      background: #f39d54;
      border-radius: 6px;
      color: #fff;
}
.rm_chak.active1{
      background: url(../img/sprite.png) no-repeat 52% -2780px; 
} 
.rm_chak.active2{
      background: url(../img/sprite.png) no-repeat 52% -2861px; 
} 
.add_rmimg{
      width: 90%;
      height: 30px;
      margin: 1.2rem auto;
      display: block;
}


.rm_selex_type44{
   width: 90%;
   margin: 2.8rem auto;
}
.rm_selex_type44 div{
  margin-top: 1.2rem;
  width: 100%;
}
.rm_selex_type44 div i{
  display: block;
  float: left;
  width: 29%;
  height: 26px;
  line-height: 26px;
  text-indent: .4rem;
  background: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  color: #444;
  font-style: normal;
}
.rm_selex_type44 div input{
  display: block;
  float: right;
  width: 70%;
  border: solid 1px #ddd ;
  border-radius: 6px;
  height: 36px;
  line-height: 36px;
  text-indent: .4rem;
  background: #fff;
  font-size: 1.8rem;
}
.rm_selex_type44 div select{
  float: right;
  border: solid 1px #ddd ;
      height: 36px;
      width: 70%;
      font-size: 1.8rem;
      border-radius: 6px;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      line-height: 36px;
      display: inline-block;
}
.rm_appaddtt{
  height: 40px;
  line-height: 40px;
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.6rem;
  color: #444;
}
.rm_appadd{
  height: 40px;
  line-height: 40px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: #444;
}
.rm_appadd form{
  margin-left: 30%;
  display: inline-block;
}
.rm_appadd form label{
  margin-right: 10px;
}
.rm_appadd form input[type=checkbox]{
   width: 25px;
   height: 25px;
   vertical-align: middle;
   margin-right: 2px;
}


.rm_imgWrap{
  width: 90%;
  margin: 1rem auto;
}
.rm_imgMini {
  float: left;
  margin-right: 10px;
}
.rm_imgWrap span{
  float: left;
  width: 50px;
  height: 50px;
  border: solid 1px #ddd;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  cursor: pointer;
}
.rm_imgMini li{
  float: left;
  width: 50px;
  height: 50px;
  border: solid 1px #ddd;
  margin-right: 4px;
}
.rm_imgMini li img{
  width: 50px;
}